<p>pipes works!</p>
{{pipes|uppercase}}
{{number|number:'5.3'}}<br>
{{person|percent}}<br><br>

{{date}}<br>
{{date|date}}<br>

{{date|date:'short'}}<br>
{{date|date:'medium'}}<br>
{{date|date:'long'}}<br>
{{date|date:'full'}}<br><br><br>


{{date|date:'shortDate'}}<br><br>
{{date|date:'shortTime'}}<br><br>
{{date|date:'longTime'}}<br><br>

{{date|date:'YYYY-MMMM-d'}}<br><br>
{{date|date:'d/Y/M'}}<br><br>

{{person1|json}}<br><br>
{{current|currency}}<br><br>


{{hai|pipes:'hello'}}<br><br>

{{hel|pipes}}
