// input 
// {
//     color: rgb(201, 22, 218);
// }
// .kunalan
// {
// color: rgb(138, 28, 88);

// font-size: 1cm;
// padding-left: 15cm;
// font-style: initial;

// }
// .kuna
// {
//     color: rgb(197, 15, 15);
// }
// .hello
// {
//     background-color: rgb(18, 146, 206);
//     font-size: xx-large;

// }
// .hai
// {
//     // padding-left: 4cm;
//     padding-bottom: 3cm;
//     color: rgb(202, 15, 24);
// }



#navbar .nav-link{
    color: #28a745;
    }
    .bg-light {
        background-color: rgb(13 27 52 / 94%) !important;
    }
    .dropdown-item{
        color:#af2a89c4;
    }
    .navbar-brand{
        color: beige;
        font-style: oblique;
        font-size: 20px;
    }